<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>[[${channel.channelName}]]</title>
	</head>
	<body>
    <div>
   		<ul class="message-list"></ul>
    </div>
     <!--   <div id="messages" th:each="message : ${messages}">
            <span th:text="${message.user}"> user </span>
            <span th:text="${message.message}"> message </span>
        </div> --> 
	<div>
		<textarea rows = "3" cols = "30" name = "message" id="message"></textarea><br>
		</div>
	<script type="text/javascript" src="/js/channel.js"></script>
	</body>
</html>